
.icon-spin6:before { content: '\e800'; } /* '' */
.icon-opera:before { content: '\e801'; } /* '' */
.icon-ie:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-network:before { content: '\e803'; } /* '' */
.icon-briefcase:before { content: '\e805'; } /* '' */
.icon-chart-line:before { content: '\e806'; } /* '' */