body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

form label span{
    width:200px;
    display:block;
    float:left;
}

.input-row{
    border-width:0px 0px 1px 0px;
    border-color:#dadada;
    border-style:solid;
    padding-top:5px;
    padding-bottom:3px;
}

.input-row input{
    width:190px;
}

.form-container{
    margin-left:auto;
    margin-right:auto;
    width:450px;
    padding:10px;
    border:#dadada solid 1px;
}

.form-container .btn{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:190px;
}

.center-text{
    text-align: center;
}

.input-error{
    background-color:#ffeeee;
    border-color:#dd5555;
}
.input-row ul li{
    /* Zend Error message */
    color:#ff2222;
}

.rightContent{
    margin-left:100px; /* menuLeft.width +40 */
    min-height:400px;
}

.menuLeft{
    background-color:#ffffff;
    width:60px;
    position:fixed;

}

footer p{
    text-align: center;
}

.menuLeftIcon{
    font-size: 48px;
    color:#222222;
    margin-top: 4px;
    display:block;
}

table .delete{
    color:#222222;
}

table .edit{
    color:#222222;
}

table th .active{
    color:#ff0000;
}

.form-container .saveBtn {
    margin-left: 10px;
}
.form-container .cancelBtn {
    margin-left: 150px;
}

.form-container .smallInput {
    width: 110px;
}

.form-container .smallTextarea{
    width: 190px;
    height: 90px;
}

.form-container .normalTextarea{
    width: 190px;
    height: 150px;
}